<p id="notice"><%= notice %></p>

<h1>Stores</h1>

    <% @stores.each do |store| %>
      <div>
        <%= link_to 'Show', store %>
        <%= link_to 'Edit', edit_store_path(store) %>
        <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></div>

      <h2><%= store.name %></h2>
      <div>Location: <%= store.location %></div>
      <div>Description: <%= store.description %></div>

    <table class="table">
      <thead>
      <tr>
        <th>Price</th>
        <th>Brand</th>
        <th>Description</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% store.items.each do |item| %>

          <td><%= item.price %></td>
          <td><%= item.brand %></td>
          <td><%= item.description %></td>
          <td><%= link_to 'Show', item %><br />
            <%= link_to 'Edit', edit_item_path(item) %><br />
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>

          </tr>
      <% end %>
      </tbody>
    </table>

    <hr />
    <% end %>
<br>

<%= link_to 'New Store', new_store_path %>
