<h1>Show All Stores</h1>
<%= link_to 'New Store', new_store_path, class: 'btn btn-primary' %>
<hr />
<% @stores.each do |store| %>
  <h2><%= store.name %></h2>

  <dl class="row">
    <dt class="col-sm-3">
      <% if store.image_url.present? %>
        <img src="<%= store.image_url %>" class="img-responsive">
      <% else %>
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
               class="img-responsive">
      <% end %>
    </dt>
    <dd class="col-sm-9">
      <%= store.description %>
      <hr />
      <dl class="row">
        <dt class="col-sm-2">Location:</dt>
        <dd class="col-sm-10"><%= store.location %></dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-2">total items:</dt>
        <dd class="col-sm-10"><%= store.items.count %></dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-2"># items sold:</dt>
        <dd class="col-sm-10">
          <% count = 0 %>
          <% store.items.each do |item| %>
              <% count += item.purchase.count %>
          <% end %>
          <%= count %>
        </dd>
      </dl>

    </dd>
  </dl>

  <hr />


  <div>
    <%= link_to 'Show', store, { class: 'btn btn-primary'} %>
    <%= link_to 'Edit This Store', edit_store_path(store), { class: 'btn btn-primary'} %>
  </div>
<% end %>
</div>
<br>