

<h1><%= @store.name %></h1>
<hr />
<div>
  <%= link_to 'Edit This Store', edit_store_path(@store), { class: 'btn btn-primary'} %>
</div>
<hr />
<p><%= @store.description %></p>
<h2>Details</h2>
<hr />
<dl class="row">
  <dt class="col-sm-3">Location:</dt>
  <dd class="col-sm-9"><%= @store.location %></dd>
</dl>


<dl class="row">
  <dt class="col-sm-3"># of Items listed:</dt>
  <dd class="col-sm-9"><%= @store.items.count %></dd>
</dl>

<dl class="row">
  <dt class="col-sm-3">Image:</dt>
  <dd class="col-sm-9"><%= @store.image_url %></dd>
</dl>
<br />
<%= link_to image_tag(@store.image_url, :alt => "logo"), "/" %>
<br />
<h2>Store Items</h2>

<table class="table">
  <thead>
  <tr>
    <th>Price</th>
    <th>Brand</th>
    <th>Description</th>
    <th>Items List</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @store.items.each do |item| %>
      <tr>
        <td><%= item.price_field %></td>
        <td><%= item.brand %></td>
        <td><%= item.description %></td>
        <td>
          <%= link_to 'Show', item %><br />
          <%= link_to 'Edit', edit_item_path(item) %><br />
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
