<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th># of <br />Purchases</th>
      <th>Roles</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= link_to user.first_name, user %></td>

        <td><%= user.purchases.count %></td>
        <td>
          <% user.roles.each do |role| %>
            <%= role.name %><br />
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', user %><br />
          <%= link_to 'Edit', edit_user_path(user) %><br />
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
