<%= form_for(purchase) do |f| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :purchase_date, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :purchase_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Item</label>
    <div class="col-sm-3">
      <%= f.collection_select(:item_id, Item.all, :id, :price_with_store_with_brand, class: 'form-control') %></div>
    <div class="col-sm-3">
      <a href="<%= new_item_path %>"><i class="fa fa-plus" aria-hidden="true"></i> Add Item</a>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Buyers</label>
    <div class="col-sm-3">
      <%= f.collection_check_boxes(:user_ids, User.all, :id, :name, class: 'form-control') do |user|%>
          <%= user.label { user.check_box + ' ' + user.text }  %><br />
      <%  end %>
    </div>
    <div class="col-sm-3">
      <a href="<%= new_user_path %>"><i class="fa fa-plus" aria-hidden="true"></i> Add Buyer</a>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :deleted, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.check_box :deleted, class: "form-control" %>
    </div>
  </div>

  <div class="actions form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
