<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<table class="table">
  <thead>
    <tr>
      <th>item</th>
      <th>brand</th>
      <th>price</th>
      <th>store</th>
      <th>Location</th>
      <th>Purchasedate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.item.name %></td>
        <td><%= purchase.item.brand %></td>
        <td><%= purchase.item.price_field %></td>
        <td><%= purchase.item.store.name %></td>
        <td><%= purchase.item.store.location %></td>
        <td><%= purchase.purchaseDate.to_s(:custom_datetime) %></td>
        <td>
          <%= link_to 'Show', purchase %><br />
          <%= link_to 'Edit', edit_purchase_path(purchase) %><br />
          <%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
