<h1>Purchases</h1>
<%= link_to 'New Purchase', new_purchase_path, class: 'btn btn-primary pull-right' %>

<table class="table">
  <thead>
    <tr>
      <th>item</th>
      <th>brand</th>
      <th>buyer</th>
      <th>price</th>
      <th>store</th>
      <th>Location</th>
      <th>Purchase Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.item.item_type.name %></td>
        <td><%= purchase.item.brand %></td>
        <td>
        <% purchase.buyers.each do |buyer| %>
        <%= buyer.user.name %><br />
        <% end %>
        </td>
      <td><%= purchase.item.price_field %></td>
        <td><%= purchase.item.store.name %></td>
        <td><%= purchase.item.store.location %></td>
        <td><%= purchase.purchase_date.to_s(:custom_datetime) %></td>
        <td>
          <%= link_to 'Show', purchase %><br />
          <%= link_to 'Edit', edit_purchase_path(purchase) %><br />
          <%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

