<h2>Purchase</h2>
<%= link_to 'Edit', edit_purchase_path(@purchase), class: "btn btn-primary" %> |
<%= link_to 'Back', purchases_path, class: "btn btn-primary" %>
<hr />
<dl class="row">
  <dt class="col-sm-2">store:</dt>
  <dd class="col-sm-10"><%= @purchase.item.store.name %></dd>
</dl>
<dl class="row">
  <dt class="col-sm-2">item type:</dt>
  <dd class="col-sm-10"><%= @purchase.item.item_type.name %></dd>
</dl>
<dl class="row">
  <dt class="col-sm-2">brand:</dt>
  <dd class="col-sm-10"><%= @purchase.item.brand %></dd>
</dl>
<dl class="row">
  <dt class="col-sm-2">Cost:</dt>
  <dd class="col-sm-10"><%= @purchase.item.price_field %></dd>
</dl>

<dl class="row">
  <dt class="col-sm-2">Purchase Date:</dt>
  <dd class="col-sm-10"><%= @purchase.purchase_date.to_s(:custom_datetime) %></dd>
</dl>
<dl class="row">
  <dt class="col-sm-2">Location:</dt>
  <dd class="col-sm-10"><%= @purchase.item.store.location %></dd>
</dl>

<dl class="row">
  <dt class="col-sm-2">Buyer:</dt>
  <dd class="col-sm-10">
    <% @purchase.buyers.each do |buyer| %>
        <%= buyer.user.name %><br />
    <% end %>
  </dd>
</dl>
