<p id="notice"><%= notice %></p>

<p>
  <strong>store:</strong>
  <%= @purchase.item.store.name %>
</p>
<p>
  <strong>brand:</strong>
  <%= @purchase.item.brand %>
</p>

<p>
  <strong>Purchase_date:</strong>
  <%= @purchase.purchase_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @purchase.location %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @purchase.deleted %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
