

<%= render 'home_page_header_image' %>
<%= render 'display_recent_purchases' %>

<div>
  <%= link_to 'See All', new_purchase_path %>
</div>
</div>
<br>
<%= render 'display_contributers' %>
<%= render 'display_stores' %>

</div>