<p id="notice"><%= notice %></p>
<h1>Listed Items</h1>
<%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
<hr />
<% @items.each do |item| %>

    <h2><%= item.brand %></h2>
    <div>
      <%= link_to 'Show', item, { class: 'btn btn-primary'} %>
      <%= link_to 'Edit This Item', edit_item_path(item), { class: 'btn btn-primary'} %>
    </div>
    <hr />
    <p><%= item.description %></p>
    <hr />
    <dl class="row">
      <dt class="col-sm-2">Item Type:</dt>
      <dd class="col-sm-10"><%= item.item_type.name %></dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-2">Price:</dt>
      <dd class="col-sm-10"><%= item.price_field %></dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-2">Store:</dt>
      <dd class="col-sm-10"><%= item.store.name %></dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-2">Location:</dt>
      <dd class="col-sm-10"><%= item.store.location %></dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-2"># of times purchased:</dt>
      <dd class="col-sm-10"><%= item.purchase.count %></dd>
    </dl>

<!--
    <h2>Purchases made for this Item</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>purchase date</th>
        <th>buyers</th>
        <th>Deleted</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% item.purchase.each do |purchase| %>
          <tr>
            <td><%= purchase.purchase_date.to_s(:custom_datetime) %></td>
            <td>
              <% purchase.buyers.each do |buyer| %>
                  <%= buyer.user.name %><br />
              <% end %>
            </td>
            <td><%= purchase.deleted %></td>
            <td>
              <%= link_to 'Show', purchase %>
              <%= link_to 'Edit', edit_purchase_path(purchase) %>
              <%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
-->
    <hr />
    <% end %>
<br>