
<h2><%= @item.brand %></h2>
<p><%= @item.description %></p>
<hr />
<dl class="row">
  <dt class="col-sm-3">Price:</dt>
  <dd class="col-sm-9"><%= @item.price_field %></dd>
</dl>

<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-primary" %>
<%= link_to 'Back', items_path, class: "btn btn-primary" %>
<hr />
<h2>Purchases made for this Item</h2>
<br />
<table class="table table-striped">
  <thead>
  <tr>
    <th>purchase date</th>
    <th>buyers</th>
    <th>Deleted</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @item.purchase.each do |purchase| %>
      <tr>
        <td><%= purchase.purchase_date.to_s(:custom_datetime) %></td>
        <td>
          <% purchase.buyers.each do |buyer| %>
              <%= buyer.user.name %><br />
          <% end %>
        </td>
        <td><%= purchase.deleted %></td>
        <td>
          <%= link_to 'Show', purchase %>
          <%= link_to 'Edit', edit_purchase_path(purchase) %>
          <%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
