<!DOCTYPE html>
<html>
  <head>
    <title>Coffee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
